* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: burlywood;
}

h1 {
  font-size: 45px;

  text-align: center;
}

img {
  width: 400px;
  height: auto;
  border-radius: 20%;
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 20px;
  text-align: center;
}
