* {
  background-color: bisque;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 45px;
  text-decoration-line: underline;
  text-decoration-thickness: auto;
  display: block;
  padding: 30px;
  margin: 30px;
}

li h4 {
  font-size: 35px;
  display: block;
  padding: 20px;
  margin: 20px;
}
